@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// posion absolute
@mixin absolute($condition: "left", $position: absolute) {
  position: $position;
  @if $condition == "left" {
    left: 50%;
    transform: translateX(-50%);
  }
  @if $condition == "top" {
    top: 50%;
    transform: translateY(-50%);
  }
  @if $condition == "both" {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin absoluteFull() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin maxWidth($breakPoint) {
  @media screen and (max-width: $breakPoint) {
    @content;
  }
}

@mixin minWidth($breakPoint) {
  @media screen and (min-width: $breakPoint) {
    @content;
  }
}

@mixin flexBox(
  $align-item: stretch,
  $justify-content: flex-start,
  $direction: row,
  $flex: flex,
  $wrap: nowrap
) {
  display: $flex;
  align-items: $align-item;
  justify-content: $justify-content;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin linearColor($color: "primary") {
  @if $color == "primary-left" {
    background: linear-gradient(
      90deg,
      rgba(240, 183, 31, 1) 0%,
      rgba(224, 54, 9, 1) 100%
    );
  }
  @if $color == "primary-right" {
    background: linear-gradient(
      90deg,
      rgba(224, 54, 9, 1) 0%,
      rgba(240, 183, 31, 1) 100%
    );
  }
}


