//color
$primary-color: #F0B71F;
$secondary-color: #E03609;
$text-color: #3A3939;
$bg-color: color-mix(in srgb, #010101 67%, #C4C4C4 100%);
//font
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Orbitron", serif;

//size layout
$wrapper: 1920px;
$container: 1520px;