section.about 
    .container
        .about-container 
            .about-top 
                .about-top-content
                    h2.about-top-title Where <span>Neon Dreams & Digital</span> Nightmares Converge.
                    p.about-top-desc A realm where advanced technology meets dystopian reality. Our website is your gateway to a universe of neon lights, gritty streets, and cybernetic enhancements. Explore the high-tech, low-life world where the lines between humanity and machinery blur.
                    .about-top-info
                        +infoItem("89,2K+", "Discover the Future")
                        +infoItem("7001+", "Stories and Lore")
                        +infoItem("3,124+", "Art and Design")
                img.about-top-img(src="../images/blank-rectangle.png", alt="")
            .about-bottom
                img.about-bottom-img(src="../images/blank-rectangle.png", alt="")
                .about-bottom-content
                    h2.about-bottom-title Unveil <span>the Secrets of the</span> Cybernetic Underworld
                    p.about-bottom-desc A realm where advanced technology meets dystopian reality. Our website is your gateway to a universe of neon lights, gritty streets, and cybernetic enhancements. 
                    .about-bottom-invite
                        img.about-bottom-invite-img(src="../images/blank-square.png", alt="")
                        .about-bottom-invite-content
                            p.about-bottom-invite-title Join the Revolution
                            p.about-bottom-invite-desc Explore the high-tech, low-life world where the lines between humanity and machinery blur.
