section.banner 
    .container
        .banner-container 
            .banner-content
                .banner-content-title Greetings! Dive into the Cybernetic Universe
                .banner-content-desc Our website is your gateway to a universe of neon lights, gritty streets, and cybernetic enhancements. Explore the high-tech, low-life world where the lines between humanity and machinery blur.
            .banner-list 
                +bannerItem("yellow", "Join the Revolution")
                +bannerItem("red", "Art and Design")
                +bannerItem("yellow", "Tech and Gear")
                +bannerItem("red", "Stories and Lore")