section.footer 
    .container 
        .footer-container
            .footer-top 
                .footer-logo 
                    p.footer-title Cyber.AI - Cyber Punk Website
                    p.footer-desc  Explore the high-tech, low-life world where the lines between humanity 
                +footerList("Information", "Press Centre", "Our Blog", "Term and Condition")
                +footerList("Menu", "About", "Services", "Blog")
                +footerList("Contact", "Phone : +123 456 789", "Email   : @example.com", "Address Line 01")
                
            .footer-bot 
                p.footer-licese &copy; Cyber.AI - Cyber Punk 2024. All rights reserved.
                ul.footer-bot-list 
                    li.footer-bot-item
                        a(href="#") Terms
                    li.footer-bot-item 
                        a(href="#") Privacy
                    li.footer-bot-item
                        a(href="#") Cookies
                ul.footer-social
                    li.footer-social-item
                        a(href="#") 
                            i.fab.fa-linkedin-in
                    li.footer-social-item
                        a(href="#") 
                            i.fab.fa-facebook-f
                    li.footer-social-item
                        a(href="#") 
                            i.fab.fa-twitter
