section.header 
    .container
        .header-container 
            img.header-img(src="../images/blank-img.png", alt="")
            h1.header-bg-text Cyber Punk
            .header-mid
                .header-mid-left 
                    .header-mid-left-content 
                        .header-mid-left-title Stories & Lore
                        .header-mid-left-desc Dive into compelling narratives set in a dystopian future.
                    img.header-mid-left-img(src="../images/info-img.png", alt="")
                .header-mid-right 
                    .header-mid-right-title Events and <span>Updates</span>
                    .header-mid-right-desc Explore the high-tech, low-life world where the lines between humanity and machinery blur.
                    button.header-mid-right-btn Read More
            .header-bottom
                .header-bottom-left 
                    img.header-bottom-left-img(src="../images/avatar-blank-img.png", alt="")
                    .header-bottom-left-content 
                        .header-bottom-left-number 76,285K+
                        .header-bottom-left-title Experience the Future
                        .header-bottom-left-desc Explore the high-tech, low-life world where the lines between
                .header-bottom-right  
                    .header-bottom-art
                        h2.header-bottom-art-title Art and <span>Design</span>
                        .header-bottom-art-desc Feast your eyes on stunning visuals and concept art that bring the cyberpunk
                    .header-bottom-ex 
                        .header-bottom-ex-number 17+
                        .header-bottom-ex-text Years of Experiences
