section.nav 
    .container 
        .nav-container
            button.nav-toggle 
                i.fa.fa-bars
            img.nav-logo(src="../images/logo.png", alt="")
            ul.nav-list
                li.nav-item 
                    a(href="#") Home 
                li.nav-item 
                    a(href="#") Pages 
                li.nav-item 
                    a(href="#") Support 
                li.nav-item 
                    a(href="#") Contact
            a.nav-start(href="#") Get started free  