section.pages 
    .container  
        .pages-container
            img.pages-img(src="../images/blank-square.png", alt="")
            .pages-content 
                p.pages-title Your <span>Portal to a Gritty,</span> Tech-Driven Future.
                p.pages-desc A realm where advanced technology meets dystopian reality. Our website is your gateway to a universe of neon lights, gritty streets, and cybernetic enhancements. 
                .pages-btns 
                    button.pages-read.pages-btn Read More
                    button.pages-learn.pages-btn Learn More

section.faq 
    .container 
        .faq-container
            .faq-block
                p.faq-title Frequently Asked <br><span>Questions</span>
                p.faq-desc A realm where advanced technology meets dystopian reality. Our website is your gateway to a universe of neon lights, gritty streets, and cybernetic enhancements. 
            .faq-list 
                +faqItem("01.","How d I stay updated on new content and events?")
                +faqItem("02.","How can I contact customer cyber punk support?")
                +faqItem("03.","Can I purchase cyberpunk-themed merchandise?")
                +faqItem("04.","Are there any rules or guidelines for participating in the community?")
                
