section.service 
    .container 
        .service-container 
            .service-content
                .service-title Dive into the Cybernetic <span>Universe</span>
                p.service-desc A realm where advanced technology meets dystopian reality. Our website is your gateway to a universe of neon lights, gritty streets, and cybernetic enhancements. 
            .service-list 
                +serviceItem("./images/service-icon.png", "Discover the Future")
                +serviceItem("./images/service-icon-1.png", "Explore Features")
                +serviceItem("./images/service-icon-2.png", "Stay Connected")

