.service {
  border-bottom: 1px solid $primary-color;
  &-container {
    padding: 152px 80px;
    position: relative;
    &::before {
      content: '';
      background-image: url("../images/Union-yellow-right.png") ;
      background-size: cover;
      @include size(61px);
      position: absolute;
      top: -32px;
      right: -30.5px;
    }
    &::after {
      content: '';
      background-image: url("../images/Union-yellow-right.png") ;
      background-size: cover;
      @include size(61px);
      position: absolute;
      bottom: -32px;
      left: -30.5px;
    }
  }

  &-content {
    text-align: center;
    width: 65%;
    margin: 0 auto 100px;
  }
  &-title {
    font-size: 55px;
    font-weight: bold;
    font-family: $secondary-font;
    margin-bottom: 37px;
    & span {
      color: $primary-color;
    }
  }
  &-desc {
    font-size: 18px;
    line-height: 32px;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }
  &-item {
    display: flex;
    align-items: flex-start;
    gap: 38px;
    &-img {
      object-fit: cover;
    }
    &-title {
      font-weight: 500;
      font-size: 28px;
      margin-bottom: 26px;
    }
    &-desc {
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
    }
  }
  @include maxWidth(1440px) {
    &-container{
      &::before {
        @include size(51px);
        top: -26px;
        right: -26px;
      }
      &::after {
        @include size(51px);
        bottom: -26px;
        left: -26px;
      }
    }
    & p {
      font-size: 14px;
    }
    &-title {
      font-size: 35px;
    }
    &-list {
      display: block;
    }
    &-item {
      margin-bottom: 30px;
      &-title {
        font-size: 25px;
        margin-bottom: 20px;
      }
      &-img {
        height: 45px;
      }
    }
  }
  @include maxWidth(768px) {
    &-container {
      padding: 70px 53px;
      &::before {
        @include size(31px);
        top: -16px;
        right: -16px;
      }
      &::after {
        @include size(31px);
        bottom: -16px;
        left: -16px;
      }
    }
    &-content {
      width: 100%;
    }
    &-item-img {
      height: 40px;
      object-fit: cover;
    }
  }
  @include maxWidth(426px) {
    &-container {
      padding: 20px;
      &::before {
        @include size(21px);
        top: -11px;
        right: -11px;
      }
      &::after {
        @include size(21px);
        bottom: -11px;
        left: -11px;
      }
    }
    &-content {
      margin-bottom: 50px;
    }
    &-title {
      font-size: 22px;
      margin-bottom: 18px;
    }
    & p {
      font-size: 10px;
    }
    &-desc {
      line-height: 22px;
    }
    &-item {
      gap: 20px;
      &-img {
        height: 25px;
      }
      &-title {
        font-size: 15px;
        margin-bottom: 10px;
      }
      &-desc {
        line-height: 12px;
      }
    }
  }
}
