extends layout/layout

block vars
	-title = 'Cyber AI Cyber Punk'
	-bodyClass = 'home-page'

block container
	include blocks/header
	include blocks/about
	include blocks/banner
	include blocks/service
	include blocks/pages
